<section id="introduction">
    <article id="content">
        <mat-card>
            <br><br>
            <mat-card-header>
                <mat-card-title>Introduction</mat-card-title>
                <mat-card-subtitle>Max Tan Chang Yong</mat-card-subtitle>
                <br>
                <img mat-card-image src=".\assets\img\introduction_image.png" alt="This is an introduction image">
            </mat-card-header>
            <br><br>
            <mat-card-content>
                3+ years in Data Analyst & 2+ years in Angular Web Developer <br><br>
                If describing my personality, when a team went inside a cave, I will be the second one. <br><br>
                Assisting the first people who wield the fire into the unknown. <br><br>
                Being the best supporter of the Team.
            </mat-card-content>
            <br><br><br>
            <mat-card-actions>
                <a mat-stroked-button routerLink="/skillset">Skill Sets</a>
            </mat-card-actions>
        </mat-card>
    </article>
</section>